{% extends 'base.html' %}
{% load static %}
{% block title %}Quên mật khẩu{% endblock %}
{% block content %}
<section class="contact-us">
      <div class="container">
        <div class="row">
          <div id="snackbar"></div>
          <div class="col-lg-12">
            <div class="down-contact">
              <div class="row">
                <div class="col-lg-8">
                  <div class="sidebar-item contact-form">
                    <div class="sidebar-heading text-center">
                      <h2>Quên mật khẩu</h2>
                    </div>
                    <div class="content">
                    <div id="notification">
                    </div>
                      <form id="contact" action="javascript:void(0)" method="post">
                        <div id="container-form" class="row">
                          <div class="col-md-12 col-sm-12">
                            <fieldset>
                              <input class="form-control" name="username" type="text" id="username" placeholder="Nhập tài khoản đăng nhập" required="">
                            </fieldset>
                          </div>
                          <div class="col-lg-12">
                            <fieldset class="text-center">
                              <button id="forgotpass" style="margin-top: 10px;" type="submit" id="form-submit" class="main-button">Quên mật khẩu</button>
                            </fieldset>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="sidebar">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="sidebar-item categories">
                          <div class="sidebar-heading">
                            <h2>Danh Mục Bài Viết</h2>
                          </div>
                          <div class="content">
                            <ul>
                              {% for category in categorys %}
                                  <li><a href="{% url 'danh-muc' category.category_slug %}">- {{category.category_name}}</a></li>
                              {% endfor %}
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-12">
                        <div class="sidebar-item recent-posts">
                          <div class="sidebar-heading">
                            <h2>Bài viết mới nhất</h2>
                          </div>
                          <div class="content">
                            <ul>
                              {% for blognew in blognew %}
                                  <li>
                                      <a href="{% url 'chi-tiet' blognew.blog_slug %}">
                                      <h5>{{blognew.blog_title}}</h5>
                                      <span>{{blognew.blog_create_date}}, bởi {{blognew.blog_author}}</span>
                                      </a>
                                  </li>
                              {% endfor %}
                            </ul>
                          </div>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script type="text/javascript" src="{% static 'froala-editor/js/froala_editor.pkgd.min.js' %}"></script>
	<script>
            var user = ""
            var error = []
            //khi người dùng gửi mã xác thực lên sever kiểm tra
            $(document).on('click','.auth',function(){
                    //lấy mã xác thực gửi lên server
                    var code = $('#forgot').val()
                    $.post("{% url 'forgotpass' %}",{
                    user:user,
                    code:code
                    },function(data){
                        //server trả kết quả về
                        //nếu mã đúng thì xuất hiện trang đổi mật khẩu
                        if(data == 1){
                            $('#container-form').html(""
                                    +"<div class='col-md-12 col-sm-12'>"
                                    +" <fieldset>"
                                    +"    <input class='form-control' name='password' type='password' id='password' placeholder='Mật khẩu mới'>"
                                    +"  </fieldset>"
                                    +"</div>"
                                    +"<div class='col-md-12 col-sm-12'>"
                                    +" <fieldset>"
                                    +"     <input class='form-control' name='password-confirm' type='password' id='password-confirm' placeholder='Xác nhận mật khẩu mới'>"
                                    +"  </fieldset>"
                                    +"</div>"
                                    +"<div class='col-lg-12'>"
                                    +"  <fieldset class='text-center'>"
                                    +"    <button style='margin-top: 10px;' type='submit' id='form-submit' class='main-button changepass'>Xác Nhận</button>"
                                    +"  </fieldset>"
                                    +"</div>")
                            //khi người dùng bấm đổi mật Khẩu
                            password =  $('#password').val()
                            password1 =  $('#password-confirm').val()
                            $(document).on('click','.changepass',function(){
                                //kiểm tra thông tin trước khi gửi lên server
                                if(error.length == 0 && password != "" && password1 != ""){
                                    $.post("{% url 'forgotpass' %}",{
                                        user:user,
                                        passwordnew:password
                                    },function(data){
                                        if(data == 1){
                                            Swal.fire({
                                            position: 'center',
                                            icon: 'success',
                                            title: 'Thay Đổi Mật Khẩu Thành Công',
                                            showConfirmButton: false,
                                            timer: 1000
                                            })
                                            setTimeout(function(){
                                                window.location.href="{% url 'login' %}"
                                            }, 1000);
                                        }else{
                                            Swal.fire({
                                            position: 'center',
                                            icon: 'error',
                                            title: 'Thay Đổi Mật Khẩu Thất Bại',
                                            showConfirmButton: false,
                                            timer: 1000
                                            })
                                            setTimeout(function(){
                                                window.location.href="{% url 'forgotpass' %}"
                                            }, 1000);
                                        }
                                    })
                                }else{
                                    $('#snackbar').css({"background-color":"#ff623d"})
                                    $('#snackbar').html("<i class='fas fa-exclamation-circle'></i> Vui lòng kiểm tra lại thông tin")
                                    var x = document.getElementById("snackbar");
                                    x.className = "show";
                                    setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
                                } 
                            });
                                    
                        }
                        //nếu sai thì thông báo sai
                        else if(data == 0){
                            $('#snackbar').css({"background-color":"#ff623d"})
                            $('#snackbar').html("<i class='fas fa-exclamation-circle'></i> Mã xác nhận không chính xác")
                            var x = document.getElementById("snackbar");
                            x.className = "show";
                            setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
                        }
                        //thông báo thời gian xác thực đã hết
                        else if(data == 2){
                            $('#snackbar').css({"background-color":"#ff623d"})
                            $('#snackbar').html("<i class='fas fa-exclamation-circle'></i> Hết thời gian xác thực")
                            var x = document.getElementById("snackbar");
                            x.className = "show";
                            setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
                            setTimeout(function(){
                                window.location.href="{% url 'forgotpass' %}"
                            }, 1000);
                        }
                    });
            });
			$(document).ready(function(){
                $('.form-control').css({"text-transform":"unset"})
                //khi người dùng bấm nút quên mật khẩu
                $('#forgotpass').click(function(){
                    var username = $('#username').val()
                    user = username
                    //kiểm tra xem tài khoản người dùng muốn lấy lại mật khẩu có trùng với database hay không
                    $.post("{% url 'ajaxcheckinfo' %}",{
                        username:username,
                    },function(data){
                        if(data == 1){
                            $('#notification').html("<h6 style='color: red;margin-bottom:5px'>Tài khoản không hợp lệ</h6>")
                        }
                        else if(data == 0){
                            $('#forgotpass').prop('disabled', true);
                            $.post("{% url 'forgotpass' %}",{
                                username:username,
                            },function(data){
                                if(data == 1){
                                    $('#container-form').html(""
                                    +"<div class='col-md-12 col-sm-12'>"
                                    +"<h6 style='padding:10px;'>Vui lòng kiểm tra email của bạn để xác nhận</h6>"
                                    +" <fieldset>"
                                    +"    <input class='form-control' name='auth' type='text' id='forgot' placeholder='Mã xác nhận'required=''>"
                                    +"  </fieldset>"
                                    +"</div>"
                                    +"<div class='col-lg-12'>"
                                    +"  <fieldset class='text-center'>"
                                    +"    <button style='margin-top: 10px;' type='submit' id='form-submit' class='main-button auth'>Xác Nhận</button>"
                                    +"  </fieldset>"
                                    +"</div>") 
                                }
                            });
                        }
                    });
                })
            })
            // check xác nhận mật khẩu mới
            $(document).on('keyup','#password',function(){
                password =  $('#password').val()
                    //kiểm tra password
                    if(password.length >= 6){
                        if(error.indexOf("password") >= 0){
                             error.splice(error.indexOf("password"),1)
                        }
                        $('#password').css({"border":"2px solid #47d864"})
                        $('#notification').html("")
                    }else{
                        if(error.indexOf("password") < 0){
                            error.push("password")
                        }
                        $('#password').css({"border":"2px solid #ff623d"})
                    }
            })
            $(document).on('keyup','#password-confirm',function(){
                    password =  $('#password').val()
                    password1 =  $('#password-confirm').val()
                    //kiểm tra password-confirm
                    if(password == password1){
                        if(error.indexOf("password-confirm") >= 0){
                             error.splice(error.indexOf("password-confirm"),1)
                        }
                        $('#password-confirm').css({"border":"2px solid #47d864"})
                        $('#notification').html("")
                    }else{
                        if(error.indexOf("password-confirm") < 0){
                            error.push("password-confirm")
                        }
                        $('#password-confirm').css({"border":"2px solid #ff623d"})
                    }
            })
	</script>
{% endblock %}