      
<style>
    .pagination > li{
        padding: 10px 20px;
        margin-left: 5px;
        background: rgb(184, 181, 181);
    }
</style>

{% extends "base.html" %}
{% load static %}
{% block title %}Trang Chủ{% endblock %}
{% block content %}           
    <section class="blog-posts grid-system">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="all-blog-posts">
              <div class="row">
                {% if blogs != "" %}
                    {% for blog in blogs %}
                        <div class="col-lg-6">
                            <div  class="blog-post">
                                <div class="blog-thumb">
                                <img style = "height:300px; object-fit: cover;" src="{% static 'img/' %}{{blog.blog_img}}" alt="">
                                </div>
                                <div class="down-content">
                                <a href="{% url 'chi-tiet' blog.blog_slug %}"><h4>{{blog.blog_title}}</h4></a>
                                <ul class="post-info">
                                    <li><a href="{% url 'bloglist' blog.blog_author%}">{{blog.blog_author}}</a></li>
                                    <li><a href="javascript:void(0)">{{blog.blog_create_date}}</a></li>
                                </ul>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {%else%}
                    <h2>Khong tim thay</h2>
                {%endif%}
                <div class="col-lg-12">
                    {% if blogs.has_other_pages %}
                        <ul class="pagination">
                            {% if blogs.has_previous %}
                                <li><a href="?page={{ blogs.previous_page_number }}">&laquo;</a></li>
                            {% else %}
                                <li class="disabled"><span>&laquo;</span></li>
                            {% endif %}
                            {% for i in blogs.paginator.page_range %}
                                {% if blogs.number == i %}
                                    <li style="font-weight: bold; background: #f48840;" class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                {% else %}
                                    <li ><a href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if blogs.has_next %}
                                <li><a href="?page={{ blogs.next_page_number }}">&raquo;</a></li>
                                {% else %}
                                <li class="disabled"><span>&raquo;</span></li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="sidebar">
              <div class="row">
                <div class="col-lg-12">
                  <div class="sidebar-item search">
                    <form id="search_form" method="post">
                      <input id="message" type="text" name="search" class="searchText" placeholder="type to search..." >
                    </form>
                  </div>
                </div>
               
                <div class="col-lg-12">
                  <div class="sidebar-item categories">
                    <div class="sidebar-heading">
                      <h2>Danh Mục Bài Viết</h2>
                    </div>
                    <div class="content">
                      <ul>
                        {% for category in categorys %}
                            <li><a href="{% url 'danh-muc' category.category_slug %}">- {{category.category_name}}</a></li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item recent-posts">
                    <div class="sidebar-heading">
                      <h2>Bài viết mới nhất</h2>
                    </div>
                    <div class="content">
                      <ul>
                        {% for blognew in blognew %}
                            <li>
                                <a href="{% url 'chi-tiet' blognew.blog_slug %}">
                                <h5>{{blognew.blog_title}}</h5>
                                <span>{{blognew.blog_create_date}}, bởi {{blognew.blog_author}}</span>
                                </a>
                            </li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}