{% extends 'base.html' %}
{% load static %}
{% block title %}Đăng Nhập{% endblock %}
{% block content %}
<section class="contact-us">
      <div class="container">
        <div class="row">
          <div id="snackbar"></div>
          <div class="col-lg-12">
            <div class="down-contact">
              <div class="row">
                <div class="col-lg-8">
                  <div class="sidebar-item contact-form">
                    <div class="sidebar-heading text-center">
                      <h2>Đăng Nhập Tài Khoản</h2>
                    </div>
                    <div class="content">
                    <div id="notification">
                    </div>
                      <form id="contact" action="javascript:void(0)" method="post">
                        <div class="row">
                          <div class="col-md-12 col-sm-12">
                            <fieldset>
                              <input class="form-control" name="username" type="text" id="username" placeholder="Tài Khoản" required="">
                            </fieldset>
                          </div>
                          <div class="col-md-12 col-sm-12">
                            <fieldset>
                              <input class="form-control" name="password" type="password" id="password" placeholder="Mật Khẩu" required="">
                            </fieldset>
                          </div>
                          <div class="col-lg-12">
                            <fieldset class="text-center">
                              <button id="login" style="margin-top: 10px;" type="submit" id="form-submit" class="main-button">Đăng Nhập</button>
                            </fieldset>
                          </div>
                          <div class="col-lg-12">
                            <fieldset class="text-center" style="padding-top: 5px ;">
                              <p>Bạn đã có tài khoản chưa? <a href="{% url 'register' %}">Đăng Kí,</a> <a href="{% url 'forgotpass' %}"> Quên mật khẩu</a></p>
                            </fieldset>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="sidebar">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="sidebar-item categories">
                          <div class="sidebar-heading">
                            <h2>Danh Mục Bài Viết</h2>
                          </div>
                          <div class="content">
                            <ul>
                              {% for category in categorys %}
                                  <li><a href="{% url 'danh-muc' category.category_slug %}">- {{category.category_name}}</a></li>
                              {% endfor %}
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-12">
                        <div class="sidebar-item recent-posts">
                          <div class="sidebar-heading">
                            <h2>Bài viết mới nhất</h2>
                          </div>
                          <div class="content">
                            <ul>
                              {% for blognew in blognew %}
                                  <li>
                                      <a href="{% url 'chi-tiet' blognew.blog_slug %}">
                                      <h5>{{blognew.blog_title}}</h5>
                                      <span>{{blognew.blog_create_date}}, bởi {{blognew.blog_author}}</span>
                                      </a>
                                  </li>
                              {% endfor %}
                            </ul>
                          </div>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script type="text/javascript" src="{% static 'froala-editor/js/froala_editor.pkgd.min.js' %}"></script>
		<script> 
			$(document).ready(function(){
                $('.form-control').css({"text-transform":"unset"})
                $('#login').click(function(){
                    var username = $('#username').val()
                    var password = $('#password').val()
                    $.post("{% url 'AjaxLogin' %}",{
                        username:username,
                        password:password,
                    },function(data){
                        if(data == 0){
                            $('#notification').html("<h6 style='color: red;margin-bottom:5px'>Thông tin đăng nhập sai</h6>")
                        }
                        else if(data == 1){
                                Swal.fire({
                                position: 'center',
                                icon: 'success',
                                title: 'Đăng Nhập Thành Công',
                                showConfirmButton: false,
                                timer: 1000
                                })
                                setTimeout(function(){
                                    window.location.href="{% url 'trang-chu' %}"
                                }, 1000);
                        }
                    });
                })
            })
		</script>
{% endblock %}